@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition
}


.highlight{
    @apply text-lime-500
}

section {
    @apply h-[100vh] flex justify-center
}

html {
  scroll-behavior: smooth;
  
}