@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition
}


a:hover, .highlight{
    @apply text-lime-500
}

html {
  scroll-behavior: smooth;
}